.Pizza {
    height: 500px;
    width: 500px;
    background-color: #FCCF46;
    border-radius: 50%;
    box-shadow: 0 0 0 52px #ED9700;
    display: inline;
    animation: spin 2s linear infinite ;
}

.Crust {
    height: 500px;
    width: 500px;
    box-shadow: 0 0 0 20px #F10000;
    border-radius: 50%;
    display: inline-block;
}

.Dough {
    height: 25px;
    width: 25px;
    background-color: #ED9700;
    border-radius: 12px 0 12px 0;
    position: relative;
    top: -50%;
    left: 12%;
}

.DoughTwo {
    height: 25px;
    width: 25px;
    background-color: #ED9700;
    border-radius: 12px 0 12px 0;
    position: relative;
    top: -67%;
    left: 74%;
}
.DoughThree {
    height: 25px;
    width: 25px;
    background-color: #ED9700;
    border-radius: 12px 0 12px 0;
    position: relative;
    top: -32%;
    left: 50%;
}

.DoughFour {
    height: 25px;
    width: 25px;
    background-color: #ED9700;
    border-radius: 12px 0 12px 0;
    position: relative;
    top: -89%;
    left: 50%;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}