.Tomato{
    height: 100px;
    width: 100px;
    background-color: #bd1a18;
    border-radius: 50%;
    display: inline-block;
}

.Mushroom {
    height: 40px;
    width: 100px;
    background-color: #ffffff;
    border-radius: 0 0 30% 30%;
    box-shadow:9px 11px 43px -6px rgba(0,0,0,0.51);
}
.Mushroom::after{
    content:"";
    position: absolute;
    background-color: #b54c02;
    border-radius: 30% 30% 0 0;
    width: 130px;
    height: 50px;
    transform: translateX(-65px) translateY(-50px);
}

.Spinach{
    height: 100px;
    width: 100px;
    background-color: #368711;
    border-radius: 50%;
    display: inline-block;
}

.Pineapple{
    height: 100px;
    width: 100px;
    background-color: #a29a1b;
    border-radius: 50%;
    display: inline-block;
}