.Tomato{
    height: 100px;
    width: 100px;
    background-color: #bd1a18;
    border-radius: 50%;
    display: inline-block;

}
.Tomato::before{
    height: 120px;
    width: 120px;
    content:"";
    border-radius: 50%;
    background-color: #640007;
    position: absolute;
    transform: translateX(-60px) translateY(-10px);
    z-index: -5;
}

.Mushroom {
    height: 40px;
    width: 100px;
    background-color: #ffffff;
    border-radius: 0 0 30% 30%;
    box-shadow:9px 11px 43px -6px rgba(0,0,0,0.51);
}
.Mushroom::after{
    content:"";
    position: absolute;
    background-color: #b54c02;
    border-radius: 30% 30% 0 0;
    width: 130px;
    height: 50px;
    transform: translateX(-65px) translateY(-50px);
}

.Spinach{
    height: 100px;
    width: 100px;
    background-color: #368711;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    display: inline-block;
}

.Spinach::after{
    content: "";
    width: 10px;
    height: 150px;
    position: absolute;
    transform: translateX(-5px) translateY(0px);
    background-color: #2d700e;
    border-radius: 70% 70% 0 0;
}

.Pineapple{
    height: 40px;
    width: 80px;
    display: inline-block;
    border: 10px solid transparent;
    border-bottom: 20px solid #F3FF00;
}

.Pineapple:after {
    content:"";
    position: absolute;
    border: 50px solid transparent;
    border-top: 70px solid #F3FF00;
    transform: translateX(-50px) translateY(60px);

}
